.container {
  display: inline-flex;
  flex-direction: column;
  padding: 20px;
  border: 2px solid rgb(14 14 126);
}

.form {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.form__column {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.form__text {
  padding-bottom: 5px;
  font-family: 'Roboto', sans-serif;  
  font-size: 14px;
  color: rgb(14 14 126);
}

.form__input {
  min-height: 20px;
  margin-right: 15px;
  padding: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: rgb(14 14 126);
  border: 2px solid rgb(14 14 126);
}

.form__input:focus,
.form__input:active {
  outline: 1px dashed rgb(14 14 126);
  outline-offset: 1px;
}

.form__button {
  min-height: 34px;
  padding: 5px 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  background-color: rgb(14 14 126);
  border: 2px solid rgb(14 14 126);
  border-radius: 0;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.form__button:hover,
.form__button:active {
  color: rgb(14 14 126);
  background-color: transparent;
}

.form__button:focus {
  outline: 1px dashed rgb(14 14 126);
  outline-offset: 1px;
}

.list {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: rgb(14 14 126);
  counter-reset: num;
}

.list__item {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding-left: 20px;
}

.list__item + .list__item {
  margin-top: 5px;
}

.list__item::before,
.list__item::after {
  position: absolute;
  display: block;
}

.list__item::before {
  top: auto;
  left: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1.2px;
  color: rgb(14 14 126);
  content: counter(num);
  counter-increment: num;
}

.list__item::after {
  bottom: 11px;
  left: 11px;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: rgb(14 14 126);
  content: '';
}

.list__text {
  margin-top: 0;
  margin-bottom: 0;
}

.list__text + .list__text:not(.list__text--phone) {
  margin-left: 5px;
  margin-right: 5px;
}

.list__text--phone {
  margin-left: 10px;
  margin-right: 20px;
}

.list__button {
  margin-left: auto;
  margin-right: 20px;
  padding: 5px 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: rgb(14 14 126);
  background-color: transparent;
  border: 1px solid rgb(14 14 126);
  border-radius: 0;
  cursor: pointer;
  transition: color 0.3s, border-color 0.3s;
}

.list__button:hover,
.list__button:active {
  color: rgb(0, 0, 0);
  border-color: rgb(0, 0, 0);
}

.list__button:focus {
  outline: 1px dashed rgb(0, 0, 0);
  outline-offset: 1px;
}